
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutAboutCustomer.cshtml";
}

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="../Assets/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            We Are Feane
                        </h2>
                    </div>
                    <p>
                        Thank you for your interest in our restaurant. I look forward to bringing satisfaction to you. If you are inconvenient, please comment to the owner via hotline +84829309767
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

