
@{
    ViewData["Title"] = "BookOK";
    Layout = "~/Views/Shared/_LayoutBookCustomer.cshtml";
}

<h1>
    You have successfully booked a table.
    The restaurant is happy to serve you! 
    Sincerely thank...
</h1>

