@model TTCM_RestaurentManager.Models.MonAn
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddDish";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Add Dish</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="AddDish">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenMa" class="control-label"><a>Tên món ăn</a></label>
                <input asp-for="TenMa" class="form-control" />
                <span asp-validation-for="TenMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiTietMa" class="control-label"><a>Chi tiết món ăn</a></label>
                <input asp-for="ChiTietMa" class="form-control" />
                <span asp-validation-for="ChiTietMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"><a>Giá</a></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhMa" class="control-label"><a>Ảnh món ăn</a></label>
                <input asp-for="AnhMa" class="form-control" />
                <span asp-validation-for="AnhMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongMa" class="control-label"><a>Số lượng món ăn</a></label>
                <input asp-for="SoLuongMa" class="form-control" />
                <span asp-validation-for="SoLuongMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLoaiMa" class="control-label"><a>Loại món ăn</a></label>
                <select asp-for="MaLoaiMa" class ="form-control" asp-items="ViewBag.MaLoaiMa"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="listDish">Back to List</a>
</div>

