@model TTCM_RestaurentManager.Models.MonAn
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddTour";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>AddTour</h1>

<h4>MonAn</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="AddDish">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaMa" class="control-label"></label>
                <input asp-for="MaMa" class="form-control" />
                <span asp-validation-for="MaMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenMa" class="control-label"></label>
                <input asp-for="TenMa" class="form-control" />
                <span asp-validation-for="TenMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiTietMa" class="control-label"></label>
                <input asp-for="ChiTietMa" class="form-control" />
                <span asp-validation-for="ChiTietMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhMa" class="control-label"></label>
                <input asp-for="AnhMa" class="form-control" type="file" onchange="handleFileInputChange(event)" />
                <span asp-validation-for="AnhMa" class="text-danger"></span>
            </div>

            

            <div class="form-group">
                <label asp-for="MaLoaiMa" class="control-label"></label>
                <select asp-for="MaLoaiMa" class ="form-control" asp-items="ViewBag.MaLoaiMa"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongMa" class="control-label"></label>
                <input asp-for="SoLuongMa" class="form-control" />
                <span asp-validation-for="SoLuongMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="listbill">Back to List</a>
</div>


<script>
    function handleFileInputChange(event) {
        // Lấy giá trị của input file
        const fileInput = event.target;
        const fileName = fileInput.value;

        // Xử lý chuỗi để chỉ giữ lại tên file và loại bỏ đuôi ảnh
        const lastIndex = fileName.lastIndexOf("\\");
        const truncatedFileName = fileName.substring(lastIndex + 1, fileName.lastIndexOf("."));

        // Đặt giá trị cho input hidden tương ứng với tên file đã xử lý
        const hiddenInput = document.createElement("input");
        hiddenInput.type = "hidden";
        hiddenInput.name = "AnhMa";
        hiddenInput.value = truncatedFileName;
        fileInput.parentNode.appendChild(hiddenInput);
    }
</script>