
@{
    ViewData["Title"] = "BookTables";
    Layout = "~/Views/Shared/_LayoutBookTable.cshtml";
}

<form action="">
    <div>
        <input type="text" class="form-control" placeholder="Your Name" />
    </div>
    <div>
        <input type="text" class="form-control" placeholder="Phone Number" />
    </div>
    <div>
        <input type="email" class="form-control" placeholder="Your Email" />
    </div>
    <div>
        <select class="form-control nice-select wide">
            <option value="" disabled selected>
                How many persons?
            </option>
            <option value="">
                2
            </option>
            <option value="">
                3
            </option>
            <option value="">
                4
            </option>
            <option value="">
                5
            </option>
        </select>
    </div>
    <div>
        <input type="date" class="form-control">
    </div>
    <div class="btn_box">
        <button asp-controller="Access" asp-action="Login">
            Book Now
        </button>
    </div>
</form>

