@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


@model List<MonAn>
@using TTCM_RestaurentManager.Models;
<ul class="filters_menu">
    <li class="active" data-filter="*">All</li>
    @foreach (var item in Model)
    {
        <li>@item.MaLoaiMa</li>
    }
</ul>
<div class="filters-content">
    <div class="row grid">
@foreach (var item in Model)
{
    if (item.IsDeleted == 0)
    {
        @await Html.PartialAsync("_PartialMonAn", item)

    }
}
</div>
</div>

